body{
    margin:0;
    font-family:'Roboto', sans-serif;
    background:#f6f6f6;
}

/* HEADER */
.header{
    
    padding:15px 40px;
    color:#000;
    font-weight:600;
}

/* MAIN */
.container{
    padding:40px;
}

/* CARDS */
.cards{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    margin-bottom:25px;
}

.card{
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.card h4{
    margin:0;
    font-size:14px;
    color:#666;
}

.card h2{
    margin-top:10px;
    font-size:26px;
}

/* BUTTONS */
.actions{
    margin-top:10px;
}

.btn{
    padding:8px 16px;
    border:none;
    border-radius:6px;
    font-size:14px;
    cursor:pointer;
}

.manage{
    background:#ff9800;
    color:#fff;
}

.books{
    background:#e0e0e0;
    margin-left:10px;
}